html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

a {
  display: inline-block;
  text-decoration: none; }

@keyframes move-in-left {
  0% {
    opacity: 0;
    transform: translateX(-50%); }
  80% {
    transform: translateX(5%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes move-in-right {
  0% {
    opacity: 0;
    transform: translateX(50%); }
  80% {
    transform: translateX(-5%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes move-in-up {
  0% {
    opacity: 0;
    transform: translateY(50%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

body {
  font: 400 1.6rem/1.7 "Lato", Verdana, Geneva, Tahoma, sans-serif;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 6rem;
  letter-spacing: 3.5rem;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    animation: move-in-left 1s forwards; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: move-in-right 1s forwards; }

.heading-secondary {
  background: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .2rem;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skew(15deg, 2deg) scale(1.05);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bot-big {
  margin-bottom: 8rem !important; }

.u-margin-bot-medium {
  margin-bottom: 4rem !important; }

.u-margin-bot-small {
  margin-bottom: 1.5rem !important; }

.header {
  background-size: cover;
  background-position: top;
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__content-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-2, .row .col-1-of-3, .row .col-2-of-3, .row .col-1-of-4, .row .col-2-of-4, .row .col-3-of-4 {
    float: left; }
    .row .col-1-of-2:not(:last-child), .row .col-1-of-3:not(:last-child), .row .col-2-of-3:not(:last-child), .row .col-1-of-4:not(:last-child), .row .col-2-of-4:not(:last-child), .row .col-3-of-4:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 12rem)/3); }
  .row .col-2-of-3 {
    width: calc(( (calc((100% - 12rem)/3)) * 2 ) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 18rem)/4); }
  .row .col-2-of-4 {
    width: calc(( (calc((100% - 18rem)/4)) * 2 ) + 6rem); }
  .row .col-3-of-4 {
    width: calc(( (calc((100% - 18rem)/4)) * 3 ) + 12rem); }

.footer {
  background-color: #333;
  font-size: 1.4rem;
  padding: 10rem;
  color: #f7f7f7; }
  .footer .footer__navigation-list, .footer .footer__copyright-text {
    border-top: 1px solid #777;
    padding-top: 2rem; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer__logo {
    width: 15rem; }
  .footer__navigation-list {
    list-style: none;
    width: max-content; }
    .footer__navigation-list-item {
      display: inline-block; }
      .footer__navigation-list-item:not(:last-child) {
        margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    background-color: #333;
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s; }
  .footer__link:hover, .footer__link:focus {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: scale(1.1) rotate(-5deg);
    outline: none; }
  .footer__copyright-text {
    width: 90%; }

.navigation__checkbox {
  position: fixed;
  top: 9.5rem;
  right: 9.5rem;
  bottom: auto;
  left: auto;
  z-index: 1000;
  width: 1px;
  height: 1px;
  opacity: 0; }

.navigation__button {
  position: fixed;
  top: 6rem;
  right: 6rem;
  bottom: auto;
  left: auto;
  z-index: 1010;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center; }

.navigation__icon {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block;
    transition: all 0.2s; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0; }
  .navigation__icon::before {
    top: -.75rem; }
  .navigation__icon::after {
    bottom: -.75rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  bottom: -1rem; }

.navigation__checkbox:checked ~ .navigation__button .navigation__icon {
  background-color: transparent; }
  .navigation__checkbox:checked ~ .navigation__button .navigation__icon::before, .navigation__checkbox:checked ~ .navigation__button .navigation__icon::after {
    top: 0rem;
    bottom: 0; }
  .navigation__checkbox:checked ~ .navigation__button .navigation__icon::before {
    transform: rotate(135deg); }
  .navigation__checkbox:checked ~ .navigation__button .navigation__icon::after {
    transform: rotate(-135deg); }

.navigation__background {
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  bottom: auto;
  left: auto;
  z-index: 1000;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background: radial-gradient(#7ed56f, #28b485);
  z-index: 1000;
  transition: all 0.8s cubic-bezier(0.83, 0, 0.17, 1); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(100); }

.navigation__nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  opacity: 0;
  width: 0;
  pointer-events: none;
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6); }
  .navigation__nav-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center; }
    .navigation__nav-list-item {
      padding: 1rem;
      counter-increment: item 1; }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  pointer-events: all; }

.navigation__link:link, .navigation__link:visited {
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
  background-image: linear-gradient(120deg, transparent 50%, #fff 50%);
  background-size: 250%; }
  .navigation__link:link:hover, .navigation__link:link:focus, .navigation__link:link:active, .navigation__link:visited:hover, .navigation__link:visited:focus, .navigation__link:visited:active {
    transform: translateX(1rem);
    background-position: 100%;
    outline: none;
    color: #55c57a; }

.navigation__link::before {
  content: "0" counter(item);
  margin-right: 1.5rem;
  text-align: right; }

.section-about {
  background-color: #f7f7f7;
  margin-top: -20vh;
  padding: 25rem 0; }

.section-features {
  background-size: cover;
  background-position: top;
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg");
  padding: 20rem 0;
  margin-top: -10rem;
  transform: skewY(-7deg); }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  margin-top: -10rem;
  padding: 25rem 0;
  background-color: #f7f7f7;
  text-align: center; }

.section-stories {
  padding: 15rem 0;
  text-align: center;
  position: relative; }

.section-booking {
  padding: 15rem 0;
  background: linear-gradient(to right bottom, #7ed56f, #55c57a); }

.form-box {
  background: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url("../img/nat-10.jpg");
  background-size: cover;
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4); }
  .form-box__inner {
    width: 50%;
    padding: 6rem;
    margin-right: auto; }

.btn, .btn:link, .btn:visited {
  position: relative;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  transition: all 0.2s;
  border: none;
  outline: none;
  cursor: pointer; }

.btn::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.2s;
  opacity: 1; }

.btn:hover, .btn:focus {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  outline: none; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn:hover::after, .btn:focus::after {
  transform: scale(1.4, 1.6);
  opacity: 0; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #55c57a;
  color: #fff; }
  .btn--green::after {
    background-color: #55c57a; }

.btn--animated {
  animation: move-in-up 0.5s backwards 0.75s; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  border-bottom: solid 1px #55c57a;
  padding: .3rem;
  transition: all 0.2s; }

.btn-text:hover, .btn-text:focus {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  outline: none; }

.btn-text:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-text:hover, .btn-text:focus {
  background-color: #55c57a;
  color: #fff; }

.composition {
  position: relative; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 0.3rem;
    position: absolute;
    transition: all 0.2s; }
    .composition__photo--p1 {
      top: -2rem;
      left: 0; }
    .composition__photo--p2 {
      top: 2rem;
      right: 0; }
    .composition__photo--p3 {
      top: 10rem;
      left: 20%; }
    .composition__photo:hover {
      z-index: 5;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      outline: solid 1.5rem #55c57a;
      outline-offset: 2rem; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.2s; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.05); }
  .feature-box__icon {
    background: linear-gradient(to right, #7ed56f, #28b485);
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 6rem;
    margin-bottom: .5rem; }

.flipping-card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative; }
  .flipping-card__side {
    transition: all .8s ease;
    min-height: 52rem;
    backface-visibility: hidden;
    border-radius: 0.3rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .flipping-card__side--front {
      background-color: #fff;
      transform: rotateY(0deg); }
    .flipping-card__side--back {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: rotateY(180deg); }
      .flipping-card__side--back--1 {
        background: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .flipping-card__side--back--2 {
        background: linear-gradient(to right bottom, #7ed56f, #55c57a); }
      .flipping-card__side--back--3 {
        background: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .flipping-card:focus-within .flipping-card__side--front, .flipping-card:hover .flipping-card__side--front {
    transform: rotateY(180deg); }
  .flipping-card:focus-within .flipping-card__side--back, .flipping-card:hover .flipping-card__side--back {
    transform: rotateY(360deg); }
  .flipping-card__picture {
    background-size: cover;
    background: linear-gradient();
    background-blend-mode: screen;
    height: 23rem;
    clip-path: polygon(0 0, 0 100%, 100% 85%, 100% 0); }
    .flipping-card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("../img/nat-5.jpg"); }
    .flipping-card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #55c57a), url("../img/nat-6.jpg"); }
    .flipping-card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("../img/nat-7.jpg"); }
  .flipping-card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 75%; }
  .flipping-card__heading-span {
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    padding: 1rem 1.5rem;
    opacity: .85; }
    .flipping-card__heading-span--1 {
      background: linear-gradient(to right bottom, #ffb900, #ff7730); }
    .flipping-card__heading-span--2 {
      background: linear-gradient(to right bottom, #7ed56f, #55c57a); }
    .flipping-card__heading-span--3 {
      background: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .flipping-card__details {
    padding: 3rem; }
    .flipping-card__details-list {
      width: 80%;
      margin: auto;
      list-style-type: none; }
      .flipping-card__details-list-item {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .flipping-card__details-list-item:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .flipping-card__cta {
    text-align: center;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .flipping-card__price-box {
    color: #fff;
    margin-bottom: 8rem; }
    .flipping-card__price-box-text {
      font-size: 1.4rem;
      text-transform: uppercase; }
    .flipping-card__price-box-value {
      font-size: 6rem;
      font-weight: 100; }

.story {
  width: 75%;
  margin: 0 auto;
  padding: 6rem;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.3rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  .story > * {
    transform: skewX(12deg); }
  .story:hover .story__shape-img {
    filter: blur(0.3rem) brightness(0.8);
    transform: translateX(-4rem) scale(1); }
  .story:hover .story__shape-caption {
    opacity: 1;
    top: 50%; }
  .story__text {
    text-align: left; }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    margin-right: 3rem;
    clip-path: circle(50%);
    shape-outside: circle(50%);
    -webkit-shape-outside: circle(50%);
    position: relative; }
    .story__shape-img {
      max-height: 100%;
      transition: all 0.5s ease;
      transform: translateX(-4rem) scale(1.4); }
    .story__shape-caption {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      text-align: center;
      color: #fff;
      transition: all 0.5s ease;
      text-transform: uppercase; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__group-radio {
  display: inline-block;
  width: 45%; }

.form__input {
  display: block;
  width: 90%;
  font-family: inherit;
  color: inherit;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 0.3rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  outline: none;
  border-bottom: solid .3rem transparent;
  transition: all 0.2s; }
  .form__input:focus {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: solid 0.3rem #55c57a; }
    .form__input:focus:invalid {
      border-bottom: solid 0.3rem #ff7730; }
  .form__input::placeholder, .form__input::-webkit-input-placeholder {
    color: #999; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  transform: translateY(-100%); }

.form__label {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  margin: .7rem 0 0 2rem;
  opacity: 1;
  transform: translateY(0);
  transition: all 0.2s; }

.form .form__radio-label::after, .form .form__radio-label::before {
  content: "";
  visibility: visible;
  display: block;
  position: absolute;
  transition: all 0.2s; }

.form__radio-input {
  opacity: 0; }

.form__radio-input:checked + .form__radio-label::before {
  opacity: 1; }

.form__radio-input:focus + .form__radio-label::after {
  border: 0.3rem solid #55c57a;
  box-shadow: 0px 0px 0px 0.2rem rgba(0, 0, 0, 0.75); }

.form__radio-label {
  cursor: pointer;
  font-size: 1.6rem;
  position: relative; }
  .form__radio-label::after {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 0.2rem solid #55c57a;
    top: 0rem;
    left: -2.5rem;
    cursor: pointer;
    box-shadow: 0px 0px 0px 0rem rgba(0, 0, 0, 0.75); }
  .form__radio-label::before {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #55c57a;
    top: .5rem;
    left: -2rem;
    opacity: 0; }

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(0.3rem);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease; }
  .popup:target {
    opacity: 1;
    pointer-events: all; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: #fff;
    border-radius: 0.3rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    display: table;
    text-align: left;
    overflow: hidden;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.5s ease; }
    .popup__content-left, .popup__content-right {
      display: table-cell;
      vertical-align: middle; }
    .popup__content-left {
      width: 33.3333333%; }
    .popup__content-right {
      width: 66.6666667%;
      padding: 3rem 5rem; }
  .popup:target .popup__content {
    transform: translate(-50%, -50%) scale(1); }
  .popup__image {
    display: block;
    width: 100%; }
  .popup__text {
    text-align: justify;
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto; }
  .popup__close-link {
    display: block;
    position: absolute;
    color: #777;
    font-weight: 700;
    font-size: 2.5rem;
    top: 5rem;
    right: 6rem;
    padding: 1rem;
    transition: all 0.2s;
    line-height: 1; }
    .popup__close-link:hover, .popup__close-link:focus {
      color: #55c57a; }
