@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}
@mixin buttons-hover-active-effect {
    &:hover,
    &:focus {
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
        outline: none;
    }
    &:active {
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }
}
@mixin background-image-with-color-overlay($img-url) {
    background-size: cover;
    background-position: top;
    background: linear-gradient(
            to right bottom,
            rgba($color-primary-light, 0.8),
            rgba($color-primary-dark, 0.8)
        ),url($img-url);
}
@mixin clip-text-to-gradient-background {
    background: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    background-clip: text;
    color: transparent;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
}
@mixin center-element-absolute-position($top: 50%) {
    position: absolute;
    top: $top;
    left: 50%;
    transform: translate(-50%, -50%);
}