.row {
    max-width: $grid-width;
    margin: 0 auto;
    @include respond(tablet-port) { max-width: $grid-width-small; }

    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
        @include respond(tablet-port) { margin-bottom: $gutter-vertical-small; }
    }

    @include clearfix;
    .col-1-of-2 {
        width: $col-1-of-2-width;
        @extend %col-placeholder;
    }
    .col-1-of-3 {
        width: $col-1-of-3-width;
        @extend %col-placeholder;

    }
    .col-2-of-3 {
        width: calc(( (#{$col-1-of-3-width}) * 2 ) + #{$gutter-horizontal});
        @extend %col-placeholder;

    }
    .col-1-of-4 {
        width: $col-1-of-4-width;
        @extend %col-placeholder;

    }
    .col-2-of-4 {
        width: calc(( (#{$col-1-of-4-width}) * 2 ) + #{$gutter-horizontal});
        @extend %col-placeholder;

    }
    .col-3-of-4 {
        width: calc(( (#{$col-1-of-4-width}) * 3 ) + #{2 * $gutter-horizontal});
        @extend %col-placeholder;

    }
    %col-placeholder {
        float: left;
        &:not(:last-child) {
            margin-right: $gutter-horizontal;
            @include respond(tablet-port) { 
                margin-bottom: $gutter-vertical-small;
                margin-right: 0; 
            }
        }
        @include respond(tablet-port) { width: 100%; }
    }
}