.header {
    @include background-image-with-color-overlay("../img/hero-small.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 95vh;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100% );
    @include respond(phone) {
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100% );
    }
    @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
        @include background-image-with-color-overlay("../img/hero.jpg");
    }
    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    &__logo {
        height: 3.5rem;
    }
    &__content-box {
        @include center-element-absolute-position(40%);  
        text-align: center;
    }
}