.header {
    @include background-image-with-color-overlay("../img/hero.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 95vh;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100% );

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    &__logo {
        height: 3.5rem;
    }
    &__content-box {
        position: absolute;
        top: 40%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
    }
}