.btn {
    &,
    &:link,
    &:visited {
        position: relative;
        text-transform: uppercase;
        padding: 1.5rem 4rem;
        border-radius: 10rem;
        transition: $transition;
        border: none;
        outline: none;
        cursor: pointer;
    }
    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: $transition;
        opacity: 1;
    }
    @include buttons-hover-active-effect;
    &:hover,
    &:focus {
        &::after {
            transform: scale(1.4, 1.6);
            opacity: 0;
        }
    }
    &--white {
        background-color: $color-white; 
        color: $color-grey-dark-1;

        &::after {
            background-color: $color-white;
        }
    }
    &--green {
        background-color: $color-primary; 
        color: $color-white;

        &::after {
            background-color: $color-primary;
        }
    }
    &--animated {
        animation: move-in-up 0.5s backwards 0.75s;
    }
}
.btn-text {
    &:link,
    &:visited {
        font-size: $text-size;
        color: $color-primary;
        border-bottom: solid 1px $color-primary ;
        padding: .3rem;
        transition: $transition;
    }
    @include buttons-hover-active-effect;
    &:hover,
    &:focus {
       background-color: $color-primary;
       color: $color-white;
    }
}
