.composition {
    position: relative;

    &:hover &__photo:not(:hover) {//this is how to make the non hovered smaller
        transform: scale(.95);
    }

    &__photo {
        width: 55%; 
        box-shadow: $shadow-dark;
        border-radius: $border-radius-default;
        position: absolute;
        transition: $transition;
        &--p1 {
            top: -2rem;
            left: 0;
        }
        &--p2 {
            top: 2rem;
            right: 0;
        }
        &--p3 {
            top: 10rem;
            left: 20%;
        }
        &:hover {
            z-index: 5; 
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            outline: solid 1.5rem $color-primary;
            outline-offset: 2rem;
        }    
    }
}