.flipping-card {
    //functionality styling
    perspective: 150rem;
        -moz-perspective: 150rem;
    position: relative;
    @include respond(tablet-port, false) {
        box-shadow: $shadow-light;
    }

    &__side {
        transition: all .8s ease;
        min-height: 52rem;
        backface-visibility: hidden; //card goes hidden (visibility hidden) when it's flipped back
            -webkit-backface-visibility: hidden;
        border-radius: $border-radius-default;
        overflow: hidden;
        box-shadow: $shadow-light;
        @include respond(tablet-port, false){
            min-height: max-content;
            box-shadow: none;
        }
        &--front {
            background-color: $color-white;
            transform: rotateY(0deg);
            @include respond(tablet-port, false){
                padding-bottom: 5rem;
            }
        }
        &--back {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transform: rotateY(180deg);
            &--1{
                background: $gradient-secondary
            }
            &--2{
                background: $gradient-primary
            }
            &--3{
                background: $gradient-tertiary
            }
            @include respond(tablet-port, false){
                transform: rotateY(0);
                position: relative;
                margin-top: -8rem;
                clip-path: polygon(0 15% , 0 100%, 100% 100%, 100% 0);
            }
        }
    }

    &:focus-within &__side, &:hover &__side {
        &--front {
            transform: rotateY(180deg);
            @include respond(tablet-port, false){ transform: rotateY(0); }
        }
        &--back {
            transform: rotateY(360deg);
            @include respond(tablet-port, false){ transform: rotateY(0); }
        }
    }

    //front side elements styling
    &__picture {
        background-size: cover;
        background: linear-gradient();
        background-blend-mode: screen;
        height: 23rem;
        clip-path: polygon(0 0, 0 100%, 100% 85%, 100% 0);

        &--1 {
            background-image:   $gradient-secondary, url("../img/nat-5.jpg")
        }
        &--2 {
            background-image:   $gradient-primary, url("../img/nat-6.jpg")
        }
        &--3 {
            background-image:   $gradient-tertiary, url("../img/nat-7.jpg")
        }
    }
    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        text-align: right;
        width: 75%;
    }
    &__heading-span {
        box-decoration-break: clone;
            -webkit-box-decoration-break: clone;
        padding: 1rem 1.5rem;
        opacity: .85;
        &--1{
            background: $gradient-secondary
        }
        &--2{
            background: $gradient-primary
        }
        &--3{
            background: $gradient-tertiary
        }
    }

    &__details {
        padding: 3rem;
        &-list {
            width: 80%;
            margin: auto;
            list-style-type: none;
            &-item {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;
                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }
    }

    //back side elements styling
    &__cta {
        text-align: center;
        width: 90%;
        @include center-element-absolute-position;
        @include respond(tablet-port, false){
            margin: auto;
            position: relative;
            top: auto;
            left: auto;
            transform: translate(0);
            padding: 7rem 4rem 4rem;
        }
    }
    &__price-box {
        color: $color-white;
        margin-bottom: 8rem;
        @include respond(tablet-port, false) { margin-bottom: 5rem; }
        &-text {
            font-size: 1.4rem;
            text-transform: uppercase;
        }   
        &-value {
            font-size: 6rem;
            font-weight: 100;
            @include respond(tablet-port, false) { font-size: 5rem; }
        }
    }
}