html {
    //this defines 1rem to be 10px if the default browser font size is 16px
    font-size: 62.5%;
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body {
    box-sizing: border-box
}
a {
    display: inline-block;
    text-decoration: none;
}